body {
	background: #69C4CC;
}

.background {
	background: #CFEFEE;
	padding-bottom: 4%;
}

section {
	background: #69C4CC;
	margin-top: -20px;
}

section ul li {
	list-style-type: none;
}

nav.authentication {
	clear: right;
	margin: 0 15em;
}
.headbox {
	width: 70%;
	background-color: #FFFFFF;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding-top: 100px;
	padding-bottom: 5%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.secbox {
	width: 70%;
	background-color: #FFFFFF;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 700px){
	.headbox > .secbox {
		
	}
}

header ul {
	float: right;
	list-style-type: none;
}

header ul li, footer ul li, ul.social li {
	display: inline-block;
 }

#logo {
	margin-top: -80px;
	margin-left: 10px;
}

nav.primary ul li a {
	font-family: arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13pt;
	color: #FFFFFF;
}

nav.primary ul li:last-child {
	width: 100px;
	height: 15px;
	text-align: center;
	padding: 8px;
	padding-bottom: 10px;
	border-radius: 15px;
	background-color: #EC008C;
}

nav.primary ul li:nth-child(3) {
	width: 100px;
	height: 15px;
	text-align: center;
	padding: 8px;
	padding-bottom: 10px;
	border-radius: 15px;
	background-color: #702C8E;
}

nav.primary ul li:nth-child(2) {
	width: 100px;
	height: 15px;
	text-align: center;
	padding: 8px;
	padding-bottom: 10px;
	border-radius: 15px;
	background-color: #8CB82C;
}

nav.primary ul li:nth-child(1) {
	width: 100px;
	height: 15px;
	text-align: center;
	padding: 8px;
	padding-bottom: 10px;
	border-radius: 15px;
	background-color: #75CBD1;
}

nav.primary ul {
	margin-top: -6%;
	margin-right: 5%;
}

h3 {
	font-family: Cooper Black, Arial Black, sans-serif;
	color: #75CBD1;
	font-size: 16pt;
	float: right;
	margin-right: 5%;
	margin-top: -2%;
}

nav.pinkbar ul li a {
	text-decoration: none;
	font-family: Cooper Black, Arial Black, sans-serif;
	font-size: 16pt;
	color: #6F1549;
	float: right;
	list-style-type: none;
}

nav.pinkbar ul li {
	font-size: 16pt;
	margin: 1%;
	margin-right: 3.5%;
	list-style-type: none;
	display: inline;
	float: right;
}

.pinkbar ul{
	width: 100%;
	height: .5%;
	background: #F5CBD3;
	float: right;
	margin-top: -1%;
	padding-right: 15%;
}

input.search_term {
	border: #E399A7;
	border-style: solid;
	border-radius: 10px;
	font-size: 10pt;
}

h2 {
	font-family: Cooper Black, Arial Black, sans-serif;
	color: #8CB82C;
	font-size: 18pt;
	margin-top: -5%;
	margin-left: 2%;
}

img.yolo {
	margin-left: 2%;
}

p.call {
	margin-left: 5%;
	font-family: Tahoma, helvetica, arial, sans-serif;
	font-size: 16pt;
	color:#69C4CC;
	margin-top: -30px;
}

ul.kidpictures{
	float: right;
	margin-top: -1%;
	margin-right: 5%;
	margin-left: 10px;
}

p {
	margin-left: 5%;
	font-family: Tahoma, helvetica, arial, sans-serif;
	font-size: 13pt;
	color: #5B7E0E;
}

h4 {
	font-family: Cooper Black, Arial Black, sans-serif;
	font-size: 16pt;
	color: #5B7E0E;
	margin-left: 5%;
}

img.tree {
	float: right;
	margin-top: -100px;
	margin-bottom: 100px;
}

ul.social {
	list-style-type: none;
	padding: 0;
}

ul.social li {
	display: inline-block;
	width: 20%;
	margin-right: 5%;
}

ul.social img {
	max-width: 100%;
}

ul.social:nth-child(4n) {
	margin-right: 0;
}

@media screen and (max-width: 700px) {
	ul.social li {
		width: 47.5%;
		margin: 0;
		float: left;
	}
	
	ul.social li:nth-child(odd) {
		clear: left;
		margin-right: 5%;
	}
}

img.logo {
	max-width: 100%;
}

nav.footnav ul li a{
	text-decoration: none;
	color: #FFFFFF;
}

nav.footnav ul {
	text-align: center;
}

nav.footnav ul li {
	margin-left: 2%;
	border-style: solid;
	border-color: #69C4CC #FFFFFF #69C4CC #69C4CC;
	width: 120px;
}

nav.footnav ul li:last-child {
	border-color: #69C4CC;
}

/*.login-modal {
	display: none;
}*/

.login-form {
	border: 1px solid;
	width: 20%;
	margin-left: -10%;
	margin-top: 10%;
	text-align: center;
	position: absolute;
	top: 0;
	left: 50%;
	background: #69C4CC;
}

.lightbox {
	background: #000;
	opacity: .5;
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
}

.hidden {
	display: none;
}
