body {
	
}

header {
	background: #CFEFEE;
}

section {
	background: #69C4CC;
	margin-top: -20px;
}

footer {
	background: #69C4CC;
	margin-top: -20px;
}

nav.authentication {
	clear: right;
	margin: 0 15em;
}
.headbox {
	width: 70%;
	background-color: #FFFFFF;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

.secbox {
	width: 70%;
	background-color: #FFFFFF;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 700px){
	.headbox > .secbox {
		
	}
}

header ul {
	float: right;
	list-style-type: none;
}

header ul li, footer ul li, ul.social li {
	display: inline-block;
 }

.logo {
	margin-top: -80px;
	margin-left: 10px;
}

nav.primary ul li a {
	font-family: arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 13pt;
}

nav.primary ul li {
	width: 100px;
	height: 15px;
	border-style: solid;
	text-align: center;
	padding-bottom: 5px;
	border-radius: 15px;
	background-color: 236 0 140;
}

nav.pinkbar {
	
}

ul.social {
	list-style-type: none;
	padding: 0;
}

ul.social li {
	display: inline-block;
	width: 20%;
	margin-right: 5%;
}

ul.social img {
	max-width: 100%;
}

ul.social:nth-child(4n) {
	margin-right: 0;
}

@media screen and (max-width: 700px) {
	ul.social li {
		width: 47.5%;
		margin: 0;
		float: left;
	}
	
	ul.social li:nth-child(odd) {
		clear: left;
		margin-right: 5%;
	}
}

img.logo {
	max-width: 100%;
}

